<%- include('partials/header.ejs') %>

<ul class="works">
    <li class="work">
        <img src="/work.png"/>
        <h4>İş Takip Yazılımı</h4>
        <p>Test ediliyor</p>
    </li>
    <li class="work">
        <img src="/work.png"/>
        <h4>İş Takip Yazılımı</h4>
        <p>Test ediliyor</p>
    </li>
    <li class="work">
        <img src="/work.png"/>
        <h4>İş Takip Yazılımı</h4>
        <p>Test ediliyor</p>
    </li>
    
</ul>


<%- include('partials/footer.ejs') %>
